<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

    <style>
    body > .grid {
      height: 100%;
    }
    body {
      background-color: #DADADA;
    }
    .column {
      max-width: 800px;
    }
    #unitz {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    .ui.input.error>input,
    .ui.input.error>input:focus {
      background-color: #fff6f6;
      border-color: #e0b4b4;
      color: #9f3a38;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    pre button,
    pre .ui.selection.dropdown {
      width: auto;
      min-width: auto;
      height: 20px;
      font-family: Courier;
      color: rgba(0,0,0,.6);
    }
    pre input {
      border: 1px solid rgba(34,36,38,.15);
      border-radius: .28571429rem;
      height: 20px;
      font-family: Courier;
      color: rgba(0,0,0,.6);
      width: 200px;
    }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="umd/unitz.js"></script>
  </head>
  <body>

    <div class="ui center aligned grid" id="unitz">
      <div class="column">

        <form class="ui large form">
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input" :class="{ error: invalid }">
                <i class="arrow right icon"></i>
                <input type="text" v-model="input" @keyup="parse" placeholder="1 cups, 3 tbsp, 3.4 - 5 meters">
              </div>
            </div>
          </div>
        </form>

        <div class="ui segment left aligned">
          <div class="ui secondary pointing menu">
            <a class="item" :class="{ active: isActive('inspect') }" @click="setActive('inspect')">
              Inspect
            </a>
            <a class="item" :class="{ active: isActive('mutate') }" @click="setActive('mutate')">
              Mutate
            </a>
            <a class="item" :class="{ active: isActive('transform') }" @click="setActive('transform')">
              Transform
            </a>
            <a class="item" :class="{ active: isActive('operations') }" @click="setActive('operations')">
              Operations
            </a>
            <a class="item" :class="{ active: isActive('sort') }" @click="setActive('sort')">
              Sort
            </a>
            <a class="item" :class="{ active: isActive('convert') }" @click="setActive('convert')">
              Convert
            </a>
            <a class="item" :class="{ active: isActive('conversions') }" @click="setActive('conversions')">
              Conversions
            </a>
          </div>
          <div v-if="isActive('inspect')">

            <a class="ui label" @click="setInput('1 - 2&quot;, 5m, 3/4kb, 1in - 4ft, 0.5day')">
              <i class="arrow up icon"></i>
              1 - 2", 5m, 3/4kb, 1in - 4ft, 0.5day
            </a>

            <div class="ui fluid card" v-for="range in parsed.ranges">
              <div class="content">

                <div class="header">
                  {{ output.range( range ) }}
                </div>

                <div class="description">

                  <div class="ui blue label">
                    Class
                    <div class="detail" v-if="range.min.group && !range.min.group.dynamic">
                      {{ range.min.group.parent.name }}
                    </div>
                    <div class="detail" v-else-if="range.min.group && range.min.group.dynamic">
                      Dynamic
                    </div>
                    <div class="detail" v-else>
                      None
                    </div>
                  </div>

                  <div class="ui teal label" v-if="range.min.group">
                    Group
                    <div class="detail">
                      <span v-if="range.min.group.unit !== range.max.group.unit">
                        {{ range.min.group.singularLong }} - {{ range.max.group.singularLong }}
                      </span>
                      <span v-else>
                        {{ range.min.group.singularLong }}
                      </span>
                    </div>
                  </div>

                  <div class="ui gray label">
                    Range
                    <div class="detail">
                      {{ range.isRange ? 'Yes' : 'No' }}
                    </div>
                  </div>

                  <div class="ui green label">
                    Valid
                    <div class="detail">
                      {{ range.isValid ? 'Yes' : 'No' }}
                    </div>
                  </div>

                  <div class="ui purple label">
                    Fractions
                    <div class="detail">
                      {{ range.isFraction ? 'Yes' : 'No' }}
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div v-if="isActive('mutate')">

            <a class="ui label" @click="setInput('2.3 inches, -3 - 2 METER, 0/2 tacos, 1 1/2ft')">
              <i class="arrow up icon"></i>
              2.3 inches, -3 - 2 METER, 0/2 tacos, 1 1/2ft
            </a>

            <pre class="ui tertiary segment"><!--
            -->// this variable is used to modify output below
var outputOptions = {
  unit: <select class="ui selection dropdown" v-model="output.unit">
    <option :value="OutputUnit.NONE">Unitz.OutputUnit.NONE</option>
    <option :value="OutputUnit.GIVEN">Unitz.OutputUnit.GIVEN</option>
    <option :value="OutputUnit.SHORT">Unitz.OutputUnit.SHORT</option>
    <option :value="OutputUnit.LONG">Unitz.OutputUnit.LONG</option>
  </select>,
  format: <select class="ui selection dropdown" v-model="output.format">
    <option :value="OutputFormat.GIVEN">Unitz.OutputFormat.GIVEN</option>
    <option :value="OutputFormat.NUMBER">Unitz.OutputFormat.NUMBER</option>
    <option :value="OutputFormat.MIXED">Unitz.OutputFormat.MIXED</option>
    <option :value="OutputFormat.FRACTION">Unitz.OutputFormat.FRACTION</option>
    <option :value="OutputFormat.IMPROPER">Unitz.OutputFormat.IMPROPER</option>
  </select>,
  repeatUnit: <select class="ui selection dropdown" v-model="output.repeatUnit">
    <option :value="true">true</option>
    <option :value="false">false</option>
  </select>,
  unitSpacer: <input type="text" v-model="output.unitSpacer">,
  rangeSpacer: <input type="text" v-model="output.rangeSpacer">,
  fractionSpacer: <input type="text" v-model="output.fractionSpacer">,
  mixedSpacer: <input type="text" v-model="output.mixedSpacer">,
  delimiter: <input type="text" v-model="output.delimiter">,
  significant: <input type="number" v-model.number="output.significant">

};<!--
         --></pre>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).preferred()
                </div>
                <div class="header">
                  Preferred
                </div>
                <div class="meta">
                  This mutation takes the current expression and replaces the units given by the user with the units preferred by the developer.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="preferred">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).positive()
                </div>
                <div class="header">
                  Positive
                </div>
                <div class="meta">
                  This mutation only returns positive values. If a range has a negative minimum and positive minimum the minimum is changed to zero.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="positive">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).negative()
                </div>
                <div class="header">
                  Negative
                </div>
                <div class="meta">
                  This mutation only returns negative values. If a range has a negative minimum and positive maximum the maximum is changed to zero.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="negative">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).nonzero()
                </div>
                <div class="header">
                  Non-zero
                </div>
                <div class="meta">
                  This mutation only returns non-zero values.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="nonzero">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).min()
                </div>
                <div class="header">
                  Min
                </div>
                <div class="meta">
                  This mutation only returns the minimum values specifed (if ranges are given).
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="min">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).max()
                </div>
                <div class="header">
                  Max
                </div>
                <div class="meta">
                  This mutation only returns the maximum values specifed (if ranges are given).
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="max">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div v-if="isActive('transform')">

            <a class="ui label" @click="setInput('24 in, 1.5ft, 0.25ft')">
              <i class="arrow up icon"></i>
              24 in, 1.5ft, 0.25ft
            </a>

            <a class="ui label" @click="setInput('1 loaf, 3 loaves, 1 lb')">
              <i class="arrow up icon"></i>
              1 loaf, 3 loaves, 1 lb
              <div class="detail">
                shows how dynamic groups determine singular/plural
              </div>
            </a>

            <pre class="ui tertiary segment"><!--
            -->// this variable is used to modify output below
var outputOptions = {
  unit: <select class="ui selection dropdown" v-model="output.unit">
    <option :value="OutputUnit.NONE">Unitz.OutputUnit.NONE</option>
    <option :value="OutputUnit.GIVEN">Unitz.OutputUnit.GIVEN</option>
    <option :value="OutputUnit.SHORT">Unitz.OutputUnit.SHORT</option>
    <option :value="OutputUnit.LONG">Unitz.OutputUnit.LONG</option>
  </select>,
  format: <select class="ui selection dropdown" v-model="output.format">
    <option :value="OutputFormat.GIVEN">Unitz.OutputFormat.GIVEN</option>
    <option :value="OutputFormat.NUMBER">Unitz.OutputFormat.NUMBER</option>
    <option :value="OutputFormat.MIXED">Unitz.OutputFormat.MIXED</option>
    <option :value="OutputFormat.FRACTION">Unitz.OutputFormat.FRACTION</option>
    <option :value="OutputFormat.IMPROPER">Unitz.OutputFormat.IMPROPER</option>
  </select>,
  repeatUnit: <select class="ui selection dropdown" v-model="output.repeatUnit">
    <option :value="true">true</option>
    <option :value="false">false</option>
  </select>,
  unitSpacer: <input type="text" v-model="output.unitSpacer">,
  rangeSpacer: <input type="text" v-model="output.rangeSpacer">,
  fractionSpacer: <input type="text" v-model="output.fractionSpacer">,
  mixedSpacer: <input type="text" v-model="output.mixedSpacer">,
  delimiter: <input type="text" v-model="output.delimiter">,
  significant: <input type="number" v-model.number="output.significant">

};
// this variable is used to transform
var transformOptions = {
  common: <select class="ui selection dropdown" v-model="transform.common">
    <option :value="true">true</option>
    <option :value="false">false</option>
  </select>,
  system: <select class="ui selection dropdown" v-model="transform.system">
    <option :value="System.METRIC">Unitz.System.METRIC</option>
    <option :value="System.IMPERIAL">Unitz.System.IMPERIAL</option>
    <option :value="System.NONE">Unitz.System.NONE</option>
    <option :value="System.ANY">Unitz.System.ANY</option>
    <option :value="System.GIVEN">Unitz.System.GIVEN</option>
  </select>,
  min: <input type="text" v-model.number="transform.min"><button @click="transform.min=-Number.MAX_VALUE">reset</button>,
  max: <input type="text" v-model.number="transform.max"><button @click="transform.min=-Number.MAX_VALUE">reset</button>,
  convertWithMax: <select class="ui selection dropdown" v-model="transform.convertWithMax">
    <option :value="true">true</option>
    <option :value="false">false</option>
  </select>,
  groupless: <select class="ui selection dropdown" v-model="transform.groupless">
    <option :value="true">true</option>
    <option :value="false">false</option>
  </select>
};<!--
         --></pre>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).normalize( options )
                </div>
                <div class="header">
                  Normalize
                </div>
                <div class="meta">
                  This transform adjusts the unit of each value or range to find the best match according to the transform options.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="normalize">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).compact( options )
                </div>
                <div class="header">
                  Compact
                </div>
                <div class="meta">
                  This transforms values and ranges of the same class into a single value.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="compact">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).expand( options )
                </div>
                <div class="header">
                  Expand
                </div>
                <div class="meta">
                  This transforms values and ranges of the same class into as many values as needed to nicely represent the sum.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="expand">
                  </div>
                </div>
              </div>
            </div>

            <div class="ui fluid card">
              <div class="content">
                <div class="ui right floated label">
                  uz( input ).filter( options )
                </div>
                <div class="header">
                  Filter
                </div>
                <div class="meta">
                  This transform filters out values & ranges that don't match the options.
                </div>
                <div class="description">
                  <div class="ui fluid labeled input">
                    <div class="ui label">Output</div>
                    <input type="text" readonly :value="filter">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div v-if="isActive('operations')">
            Operations
          </div>
          <div v-if="isActive('sort')">

            <pre class="ui tertiary segment"><!--
            -->uz( '{{ input }}' ).sort({
  ascending: <select class="ui selection dropdown" v-model="sort.ascending">
    <option :value="true">true</option>
    <option :value="false">false</option>
  </select>,
  type: <select class="ui selection dropdown" v-model="sort.type">
    <option :value="SortType.MIN">Unitz.SortType.MIN</option>
    <option :value="SortType.MAX">Unitz.SortType.MAX</option>
    <option :value="SortType.AVERAGE">Unitz.SortType.AVERAGE</option>
  </select>
});<!--
         --></pre>

            <div class="ui fluid labeled input">
              <div class="ui label">Output</div>
              <input type="text" readonly :value="sorted">
            </div>

          </div>
          <div v-if="isActive('convert')">
            Convert
          </div>
          <div v-if="isActive('conversions')">
            Conversions
          </div>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: '#unitz',
        data: {
          input: '',
          active: 'inspect',
          parsed: Unitz.uz(),
          invalid: false,
          output: new Unitz.Output({unitSpacer: ' '}),
          transform: new Unitz.Transform(),
          sort: new Unitz.Sort(),
          SortType: Unitz.SortType,
          OutputUnit: Unitz.OutputUnit,
          OutputFormat: Unitz.OutputFormat,
          System: Unitz.System
        },
        computed: {
          preferred: function() {
            return this.parsed.preferred().output(this.output);
          },
          positive: function() {
            return this.parsed.positive().output(this.output);
          },
          negative: function() {
            return this.parsed.negative().output(this.output);
          },
          nonzero: function() {
            return this.parsed.nonzero().output(this.output);
          },
          min: function() {
            return this.parsed.min().output(this.output);
          },
          max: function() {
            return this.parsed.max().output(this.output);
          },
          normalize: function() {
            return this.parsed.normalize(this.transform, this.output).output(this.output);
          },
          compact: function() {
            return this.parsed.compact(this.transform).output(this.output);
          },
          expand: function() {
            return this.parsed.expand(this.transform).output(this.output);
          },
          filter: function() {
            return this.parsed.filter(this.transform).output(this.output);
          },
          sorted: function() {
            return this.parsed.sort(this.sort).output(this.output);
          }
        },
        mounted: function() {
          Unitz.addDefaults();
        },
        methods: {
          parse: function() {
            var parsed = Unitz.uz(this.input);
            this.invalid = !parsed.isValid;
            if (parsed.isValid) {
              this.parsed = parsed;
            }
          },
          setInput: function(value) {
            this.input = value;
            this.parse();
          },
          setActive: function(tab) {
            this.active = tab;
          },
          isActive: function(tab) {
            return this.active === tab;
          }
        },
        components: {

        }
      });
    </script>
  </body>
</html>
